.container {
    max-width: 1170px;
    margin: 0 auto;
}

.section-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .section-header__subtitle {
    font-family: 'Lato';
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: max-content;
    margin: 0 auto;
  }
  
  .section-header__subtitle::before {
    content: '';
    height: 1px;
    width: 40px;
    background-color: #E6514A;
    position: absolute;
    top: 50%;
    left: -52px;
  }
  
  .section-header__title {
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 800;
    line-height: 62.4px;
  }