@import './reset.css';

.header {
    box-shadow: 0px 5px 20px 0px #1C1C1C1A;
}

.header__container {
    margin-left: 135px;
    margin-right: 135px;
}

.header__container-divider {
    border-bottom: 1px #DEDEFF solid;
}

.header__contacts {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
}

.header__contscts-socials {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
}

.header__contscts-socials_icon {
    width: 16px;
    height: 16px;
}

.header__phones {
    display: flex;
    flex-direction: row;
    column-gap: 28px;
}

.header__phones_item {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
}

.header__phones_item-image {
    width: 16px;
    height: 16px;
}

.phone_link {
    font-weight: 900;
    font-size: 14px;
    text-decoration: none;
    color: #1c1c1c;
}

.header__content {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 44px;
    align-items: center;
    justify-content: space-between;
}

.header__content_logo {
    height: 38px;
    margin-right: 164px;
}

.header__content-links {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

.header-link {
    text-decoration: none;
    color: #23283B;
    font-size: 14px;
    font-weight: 700;
}

.header__content-button {
    padding: 14px 28px;
    border-radius: 40px;
    border: none;
    background-color: #E6514A;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-pic {
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

.button-text {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
}

