.video__header {
    margin-bottom: 257px;
}

.video {
    padding-top: 54px;
}

.video__preview {
    position: relative;
}

.video__preview iframe {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 770px;
    height: 440px;
    top: -200px;
    border-radius: 20px;
}

.video__preview-banner {
    height: 325px;
    background-image: url('../images/overlay.png');
    background-repeat: no-repeat;
    background-size: cover;
}



